body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-container {
  font-size: 2.5em;
  margin: 20px 0px;
}
.header__espaciado {
  margin: 50px;
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.header__espaciado img {
  height: 2.7vw;
}

.header__espaciado button {
  width: 10vw;
  height: 3.5vw;
  cursor: pointer;
  font-size: 1em;
  background: none;
  border-radius: 32px;
  color: hsl(322, 100%, 66%);
  border: 2px solid hsl(322, 100%, 66%);
}

.section__one {
  display: flex;
  margin: 20vh;
  align-items: center;
  flex-direction: column;
}

.section__one h1 {
  margin: 25px;
  text-align: center;
  font-size: 2.2em;
  font-family: "Poppins", sans-serif;
}

.section__one p {
  width: 44vw;
  font-size: 1em;
  margin: 6px 17px;
  text-align: center;
}

.section__one button {
  width: 27vw;
  margin: 25px;
  color: #fff;
  height: 4.8vw;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.05em;
  border-radius: 79px;
  background: hsl(322, 100%, 66%);
  border: 2px solid hsl(322, 100%, 66%);
  box-shadow: 0px 8px 4px 0px hsl(207, 25%, 92%);
}

.section__two {
  margin: 5vh;
  flex-direction: column;
}

.section__two img {
  width: 80vw;
}

.section__two-info {
  width: 70vw;
  margin: 15vh;
  justify-content: space-between;
}

.section__two-info img {
  width: 3vw;
  margin: 0px 8px;
}

.section__two-info h1 {
  font-size: 6em;
  margin: -10px 0px;
}

.section__two-info p {
  text-align: center;
  font-size: 1.5em;
  color: hsl(207, 1%, 55%);
}

.section__img {
  width: 40vw;
}
.section__p {
  font-size: 1.1em;
  width: 40vw;
}
.img__top1-mobile {
  display: none;
  width: 99.6vw;
  position: relative;
  top: -18vh;
}
.section__img-top1 {
  width: 99.6vw;
  position: relative;
  top: -18vh;
}
.section__img-botton1 {
  width: 99.6vw;
  position: relative;
  top: 15vh;
}

.section__img-top2 {
  width: 99.6vw;
  position: relative;
  top: -18vh;
}
.section__img-botton2 {
  width: 99.6vw;
  position: relative;
  top: 15vh;
}
.section {
  display: flex;
  margin: 30vh 0px;
  flex-direction: column;
  background: hsl(207, 100%, 98%);
}

.section__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section__three-info {
  width: 100%;
}

.section__four {
  display: flex;
  margin: 30vh 0px;
  flex-direction: column;
}
.section__four-info {
  text-align: center;
  width: 100%;
  margin: 0px 0px 40px 0px;
}

.section__five {
  display: flex;
  margin: 20vh 10vh;
  justify-content: space-between;
}

.section__five-info {
  width: 40vw;
}

.section__six {
  margin: 30vh;
  flex-direction: column;
}

.section__six h1 {
  text-align: center;
  font-size: 3em;
  font-family: "Poppins", sans-serif;
}

.section__six button {
  width: 28vw;
  margin: 25px;
  color: #fff;
  height: 4.8vw;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.05em;
  border-radius: 79px;
  background: hsl(322, 100%, 66%);
  border: 2px solid hsl(322, 100%, 66%);
  box-shadow: 0px 8px 4px 0px hsl(207, 25%, 92%);
}
footer {
  display: flex;
  flex-direction: column;
}

.footer-img {
  position: relative;
  top: 1vh;
}
.footer__wrap {
  display: flex;
  color: white;
  background: hsl(192, 100%, 9%);
  justify-content: center;
  padding: 3vw;
}

.footer__info {
  box-sizing: border-box;
  padding: 2vw 5vw;
  width: 50%;
}
.footer__info p {
  margin: 20px 0px;
  width: 26vw;
}

.footer__contact {
  display: flex;

  margin: 20px 0px;
}
.footer__logo {
  cursor: pointer;
  height: 5.5vh;
}

.footer__contact img {
  margin: 0px 20px 0px 0;
}

.footer__newsteller {
  box-sizing: border-box;
  padding: 2vw 4vw;
  width: 50%;
}

.footer__newsteller h1 {
  font-size: 1.5em;
}
.footer__newsteller p {
}

.footer__newsteller input {
  height: 6.3vh;
  width: 21vw;
  min-width: 200px;
  margin: 20px 0px;
  border: none;
  border-radius: 9px;
}

.footer__newsteller button {
  height: 6.3vh;
  width: 15vw;
  min-width: 150px;
  margin: 16px 0px 0px 25px;
  color: #fff;
  font-weight: 600;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  background: hsl(322, 100%, 66%);
}

.attribution {
  color: #fff;
  text-align: center;
  background: hsl(322, 100%, 66%);
}

a {
  color: #fff;
}

@media (min-width: 995px) {
  .section__img-top1 {
    width: none;
    top: -13vh;
  }
  .section__img-botton1 {
    width: none;
    top: 11vh;
  }

  .section__img-top2 {
    width: none;
    top: -13vh;
  }
  .section__img-botton2 {
    width: none;
    top: 11vh;
  }
}

@media (max-width: 700px) {
  .header__espaciado {
    margin: 13px;
  }

  .header__espaciado img {
    height: 4.7vw;
  }

  .header__espaciado button {
    width: 20vw;
    height: 6.5vw;
    font-size: 0.8em;
  }
  .section__one {
    margin: 0px;
  }

  .section__one h1 {
    margin: 82px 23px 25px;
    font-size: 1.5em;
  }
  .section__one p {
    width: 81vw;
    font-size: 0.9em;
    margin: 7px 12px;
  }

  .section__one button {
    width: 55vw;
    margin: 25px;
    height: 11.8vw;
  }

  .section__two img {
    margin: 65px 0px;
  }

  .section__two-info {
    margin: 0;
    flex-direction: column;
  }

  .two__info-one {
    margin: 60px 0px 145px;
  }
  .two__info-one img {
    width: 11vw;
    margin: 0;
  }

  .two__info-two img {
    width: 11vw;
    margin: 0;
  }

  .section__two-info h1 {
    font-size: 4.5em;
    margin: 6px 0px;
  }
  .section__two-info p {
    font-size: 1em;
  }
  .section__wrap {
    flex-direction: column-reverse;
  }

  .title-container {
    font-size: 1.5em;
    margin: 20px 0px;
  }
  .section__three-info {
    text-align: center;
  }
  .section__img {
    width: 75vw;
  }

  .section__five-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section__six {
    margin: 30vh 0;
    flex-direction: column;
  }
  .section__p {
    text-align: center;
    font-size: 0.92em;
    width: 90vw;
  }
  .section__six h1 {
    text-align: center;
    font-size: 1.5em;
    width: 70vw;
  }

  .section__six button {
    width: 55vw;
    margin: 25px;
    height: 11.8vw;
  }

  .img__top1-mobile {
    display: block;
  }
  .section__img-top1 {
    display: none;
  }
  .footer__wrap {
    flex-direction: column-reverse;
    padding: 3vw;
  }

  .footer__newsteller {
    box-sizing: border-box;
    padding: 10vw 4vw;
    width: 100%;
  }

  .footer__newsteller p {
    margin: 4vw 0vw;
    font-size: 0.9em;
  }

  .subscribe {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .footer__newsteller input {
    width: 100%;
  }

  .footer__newsteller button {
    margin: 0px 0px 0px 25px;
  }

  .footer__info {
    box-sizing: border-box;
    padding: 15vw 5vw;
    width: 100%;
  }

  .footer__info p {
    margin: 25px 0px 50px 0px;
    width: 100%;
    font-size: 0.9em;
  }
}
